<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv='cache-control' content='no-cache'>
    	<meta http-equiv='expires' content='0'>
    	<meta http-equiv='pragma' content='no-cache'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/faces.css') }}">
	</head>
	<body>
	<div id="nav">
				<ul>
					<li><a href="home.html">HOME</a></li>
					<li><a href="potato.html">POTATO</a></li>					
					<li><a href="corn.html">CORN</a></li>
				</ul>
			</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class = "result_container">
		<button class = "textbox" onclick="window.location.href = 'potato.html';"><p class = "button_text"><p>Disease Detected</p></button>
	</div>
</body>
</html>
