<html>
	<head>
		<title>CROP DISEASE DETECTION</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/homepage.css') }}">
	</head>
	<body>
	<div id="nav">
			<ul>
				<li class ="active"><a href="home.html">HOME</a></li>
				<li><a href="potato.html">POTATO</a></li>					
				<li><a href="corn.html">CORN</a></li>
			</ul>
		</div>
	<div class="container">
		<img src = "{{ url_for('static', filename = 'background_image.jpg') }}" alt "b" class ="image">
		<div class="overlay">
	   		<div class="text">
	   			<h1>Crop Disease Detection Application</h1>
	   		</div>
  		</div>	
	</div>
		
		
	</body>
</html>













